<mat-toolbar color="primary">
	<button
		mat-icon-button
		class="example-icon"
		aria-label="Example icon-button with menu icon"
		(click)="clickMenu.emit()"
	>
		<mat-icon>menu</mat-icon>
	</button>
	<span>App</span>
	<span class="example-spacer"></span>

	<div
		*ngxClassworkInsert="false; first summ; last spiner"
	></div>


	<button
		mat-icon-button
		class="example-icon favorite-icon"
		aria-label="Example icon-button with heart icon"
	>
		<mat-icon>favorite</mat-icon>
	</button>
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
		<mat-icon>input</mat-icon>
	</button>
</mat-toolbar>

<ng-template #spiner>
	<mat-spinner color="accent" [diameter]="20"></mat-spinner>
</ng-template>

<ng-template #summ let-user>
	{{user.summ | currency}}
</ng-template>