<mat-form-field class="example-full-width" appearance="fill">
	<mat-label>Search</mat-label>
	<input matInput (input)="onInput($event)" />
</mat-form-field>
<div class="card-container">
	<ng-container *ngIf="products$ | async as products; else spiner">
		<ngx-classwork-card
			*ngFor="let product of products | prodictsFilter: searchText"
			[product]="product"
		>
		</ngx-classwork-card>
	</ng-container>
</div>
<ng-template #spiner>
	<mat-spinner color="accent" [diameter]="20"></mat-spinner>
</ng-template>
